{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="container">
        <h3  class="text-center">Черновая перевозка</h3>
        <span>Транспортное средство: {{ transportation.vehicle }}</span>
        <h4 class="text-center">Контейнеры</h4>
        <div class="cards-wrapper d-flex flex-column">
            {% for container in containers %}
                <div class="card w-100 mb5">
                     <div class="row g-0">
                        <div class="col-md-6 d-flex justify-center">
                            <img src="{{ container.image }}"  >
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">{{ container.name }} </h5>
                                <p class="card-text">Вес: {{ container.weight }} кг</p>
                                <div class="form-group">
                                    <label class="form-label">Количество</label>
                                    <input disabled class="form-control" style="width: 150px" value="{{ container.count }}">
                                </div>
                                <a href="/containers/{{ container.id }}/" class="btn btn-primary" style="width: 100px">
                                    Открыть
                                </a>
                            </div>
                        </div>
                     </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}